<h2>Use the individual links below download the data used throughout this web-app</h2>
<br>
<div>
  <ul>
    <div class="data-section">
      <li>General</li>
      <ul>  
        <li><a href="data/FactorOrder.tsv">FactorOrder.tsv</a></li>
        <li><a href="data/default_metadata.txt">default_metadata.txt</a></li>
      </ul>
    </div>    
    <div class="data-section">
      <li>R.genevieri</li>
      <ul>            
        <li><a href="data/Rgenevieri_fasta/Nicola_Love_JIC.NL.ENQ-1131.01_LIB19133_to_LIB19141.fa">R.genevieri_fasta</a></li>
        <li><a href="data/Rgenevieri_kalisto.zip">R.genevieri_kalisto.zip</a></li>
      </ul>
    </div>
    <div class="data-section">
      <li>R.idaeus</li>
      <ul>
        <li><a href="data/Ridaeus_fasta/TCS_Philippe_Vain_JIC_NL_ENQ-1131_02_LIB19419_to_LIB19427.fa">R.idaeus_fasta</a></li>
        <li><a href="data/Ridaeus_kalisto.zip">R.idaeus_kalisto.zip</a></li>
      </ul>
    </div>
  </ul>
</div>
